<div class="post-page">
<h1><%= @location.location %></h1>

<div class="post-link"><%= link_to "Write a post", new_location_post_path(@location)%></div>

<% @posts.each do |post| %>
<% if post.location_id == @location.id %>

	<br><%= post.name %>
	<br><%= post.contact %>
	<br><%= post.about_me %>
	<br><%= post.housing_preference %>
	<%end%>
<% end %>
</div>